<main class="content-wrapper">
  <h1 class="page-title">Find Your Next Movie</h1>
  <p class="subtitle">
    Search through thousands of movies using advanced search algorithms
  </p>

  <section class="search-section">
    <div class="search-box">
      <input
        type="text"
        placeholder="Search for movies..."
        class="search-input"
        [(ngModel)]="searchQuery"
        (ngModelChange)="onSearchInputChange($event)"
      />
      
      <select class="fuzzy-dropdown" [(ngModel)]="selectedSearchType">
        <option *ngFor="let type of searchTypes;" [value]="type.value">{{ type.name }}</option>
      </select>
      
      <button class="search-btn" (click)="onSearchSubmit()">Search</button>
    </div>

    <div class="search-suggestions" *ngIf="suggestions.length > 0">
      <div class="suggestion-item" 
           *ngFor="let suggestion of suggestions;" 
           (click)="selectSuggestion(suggestion)">
        <span class="dot"></span> {{ suggestion.title }}
      </div>
    </div>
  </section>

  <div *ngIf="loading()" class="loading-container">
    <div class="spinner"></div>
    <p class="loading-text">Searching for movies...</p>
  </div>

  <div *ngIf="!loading()">
     <section class="results-header">
      <div class="found-count">Found {{movies().length * totalPages()}} </div>
      
      <div class="sort-options">
        <label for="sort-by">Sort by:</label>
        <select id="sort-by">
          <option>Relevance</option>
          <option>Rating</option>
          <option>Year</option>
        </select>
      </div>
    </section>

    <section class="movie-grid">
      <ng-container *ngIf="movies().length > 0; else noResults">
        <movies-card-item *ngFor="let movie of movies();" [movie]="movie"></movies-card-item>
      </ng-container>
      <ng-template #noResults>
        <p>No results found for your search.</p>
      </ng-template>
    </section>

    <section class="pagination">
      <button class="page-btn prev-next" 
              [disabled]="currentPage() === 1" 
              (click)="handlePageButtonClick(currentPage() - 1)">
        &lt;
      </button>

      <button class="page-btn"
              *ngFor="let page of getPagesArray();"
              [class.active]="currentPage() === page"
              (click)="handlePageButtonClick(page)">
        {{ page }}
      </button>

      <button class="page-btn prev-next" 
              [disabled]="currentPage() === totalPages()" 
              (click)="handlePageButtonClick(currentPage() + 1)">
        &gt;
      </button>
    </section>
  </div>
</main>
